@import "./tokens.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-default;
    background-color: $color-neutral-lightest;
}

a {
    text-decoration: none;
}

button {
    border: 0;
    outline: 0;
    border-radius: 8px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}
th,
td {
    text-align: left;
    padding: 0px;
}
