
// Colors
$font-family-default: "Roboto";

$color-action-lightest: #B9D7E8;
$color-action-light: #529EC6;
$color-action-medium: #0070AB;
$color-action-dark: #005582;
$color-action-darkest: #004266;
$color-neutral-lightest: #FFFFFF;
$color-neutral-light: #ECECEC;
$color-neutral-medium-04: #CCCCCC;
$color-neutral-medium-03: #999999;
$color-neutral-medium-03: #666666;
$color-neutral-medium-01: #444444;
$color-neutral-dark: #202020;
$color-neutral-darkest: #000000;
$color-alert-info: #3255E2;
$color-alert-success: #0A7C2F;
$color-alert-attention: #EBBC03;
$color-alert-error: #CC001B;
$color-alert-info-dark-theme: #B7CCE3;
$color-alert-success-dark-theme: #B5EAC6;
$color-alert-attention-dark-theme: #FFDD96;
$color-alert-error-dark-theme: #EFB4BA;


$font-family-light: 300;
$font-family-regular: 400;
$font-family-medium: 500;
$font-family-bold: 700;

$font-size-base: 16px;
$font-size-nano: 0.75rem;
$font-size-micro: 0.875rem;
$font-size-xxs: 1.125rem;
$font-size-xs: 1.25rem;
$font-size-sm: 1.5rem;
$font-size-md: 2rem;

$font-size-lg: 2.5rem;
$font-size-xl: 3rem;
$font-size-xxl: 3.5rem;
$font-size-xxxl: 4.5rem;
$font-size-giant: 5.5rem;
$font-size-huge: 6.5rem;

$line-height-tightest: 1rem;
$line-height-tight: 1.3rem;
$line-height-medium: 1.5rem;
$line-height-loose: 1.7rem;

$spacing-nano: 4px;
$spacing-micro: 8px;
$spacing-xxxs: 12px;
$spacing-xxs: 16px;
$spacing-xs: 24px;
$spacing-sm: 32px;
$spacing-md: 40px;
$spacing-lg: 56px;
$spacing-xl: 80px;
$spacing-xxl: 120px;
$spacing-giant: 160px;
$spacing-huge: 200px;
$spacing-squish-nano: 4px 8px;
$spacing-squish-micro: 8px 16px;
$spacing-squish-sm: 12px 24px;
$spacing-squish-md: 16px 32px;
$spacing-squish-lg: 24px 48px;
$stroke-100: 1px;
$stroke-200: 2px;
$stroke-300: 4px;
$stroke-400: 6px;
$stroke-500: 8px;
$radius-100: 1px;
$radius-200: 2px;
$radius-300: 4px;
$radius-400: 16px;
$radius-pill: 100vh;